<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="http://localhost:8001/remoteEntry.js"></script>
    <title>Root Config</title>
  </head>
  <body>
    root
    <div id="single-spa-application:header"></div>
    <!-- <application name="@poc-mf-react/header"></application> -->
  </body>
</html>
